<ion-header>
  <ion-toolbar>
    <ion-title>paymentDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="3" class="col"><b>Date of payment</b></ion-col>
    <ion-col size="3" class="col"><b>Current payment</b></ion-col>
    <ion-col size="3" class="col"><b>Total amount paid</b></ion-col>
    <ion-col size="3" class="col"><b>Amount to be paid</b></ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3" class="col">2017/02/11</ion-col>
    <ion-col size="3" class="col">650</ion-col>
    <ion-col size="3" class="col">45000</ion-col>
    <ion-col size="3" class="col">15000</ion-col>
  </ion-row>

  <br>
  <br>
  <br>

  <ion-list>
    <ion-item>
      <ion-label size="6" color="success"><b>Date of payment:</b></ion-label>
      <ion-input size="6" [(ngModel)]="paidDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label size="6" color="success"><b>Current payment:</b></ion-label>
      <ion-input size="6" [(ngModel)]="paidAmount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label size="6" color="success"><b>Total amount paid:</b></ion-label>
      <ion-label size="6">{{item.total_amount}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label size="6" color="success"><b>Amount to be paid:</b></ion-label>
      <ion-label size="6">{{item.remaining_to_be_paid}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label size="6" color="success"><b>Next payment date:</b></ion-label>
      <ion-label size="6">2017/10/11</ion-label>
    </ion-item>
  </ion-list>

  <ion-button shape="round" size="default" color="primary" (click)="updatePayment()">Paid</ion-button>

</ion-content>
