<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Aswenna Loan Scheme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="bold">
    <ion-col size="4">application_id</ion-col>
    <ion-col size="4">name</ion-col>
    <ion-col size="4">rejected_date</ion-col>
  </ion-row>

  <br>
  <br>

  <ion-row *ngFor='let item of items'>
    <ion-col size="4">{{item.nameini}}</ion-col>
    <ion-col size="4">{{item.date}}</ion-col>
    <ion-col size="4">
      <ion-button (click)="viewNewRequest($event)" id="{{item.app_id}}">View</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>