<!-- <ion-header>
  <ion-toolbar>
    <ion-title>obtainedLoanView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="approved-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>{{choose}}. {{nameini}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="block" color="success" (click)="viewObtainedPersonalInfo()">Personal Information</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="block" color="success" (click)="viewObatainedApplicationForm()">Application Form</ion-button>
      </ion-col>
    </ion-row>
    <br>
  </ion-card>
  <br>
</ion-content>

