<ion-header>
  <ion-toolbar>
    <ion-title>Edit Loans</ion-title>
  </ion-toolbar>
  <div class = "login-header ion-padding">
    <img class="logi-img" src="#" alt="Choose image">
</div>
</ion-header>

<ion-content>

  <ion-item style="color:rgb(20, 94, 231)">
    <ion-label >Choose the Loan</ion-label>
    <ion-select interface="popover" >
      <ion-select-option value="aswenna">Aswenna</ion-select-option>
      <ion-select-option value="NCRCS">NCRCS</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list class="ion-padding">

    <ion-item>
      <ion-label position="floating" color="primary">Name of the Scheme</ion-label>  
      <ion-textarea rows="1" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">General Information</ion-label>  
      <ion-textarea rows="3" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Specific Information</ion-label>  
      <ion-textarea rows="5" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Eligible Borrowers</ion-label>  
      <ion-textarea rows="2" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Eligible Crops</ion-label>  
      <ion-textarea rows="5" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Maximum Loan Amount</ion-label>  
      <ion-textarea rows="2" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Rate of Interest</ion-label>  
      <ion-textarea rows="4" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Repayment Period</ion-label>  
      <ion-textarea rows="4" cols="50"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">More information</ion-label>  
      <ion-textarea rows="4" cols="50"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating" color="primary">Participating Financial Institutions</ion-label>  
      <ion-textarea rows="5" cols="50"></ion-textarea>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating" color="primary">Image for loan scheme</ion-label>  
      <ion-textarea rows="4" cols="50"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating" color="primary">For Clarifications and Information</ion-label>  
      <ion-textarea rows="3" cols="50"></ion-textarea>
    </ion-item>  -->

    <ion-button size="small" class="ion-padding" (click)="createNewLoan()">Submit</ion-button>

  </ion-list>

</ion-content>