<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="intro"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Loans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!--   <ion-item (click)=displayLoanDetails($event) style="color:success">
    <ion-label >Choose the Loan</ion-label>
    <ion-select interface="popover" >
      <ion-select-option *ngFor="let item of items" id="{{item.loan_id}}">{{item.loan_name}}</ion-select-option>
    </ion-select>
  </ion-item> -->

  <br>
  <ion-label class="ion-padding">Choose the loan</ion-label>
  <ion-row *ngFor='let item of items' class="ion-padding">
    <ion-col>
      <ion-button (click)=displayLoanDetails($event) id="{{item.loan_id}}">{{item.loan_name}}</ion-button>
    </ion-col>
  </ion-row>

  <ion-list class="ion-padding">

    <ion-item>
      <ion-label position="stacked" color="success">Name of the Scheme</ion-label>  
      <ion-textarea rows="1" cols="50" placeholder="{{loan_name}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">General Information</ion-label>  
      <ion-textarea rows="3" cols="50" placeholder="{{genera_info}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Specific Information</ion-label>  
      <ion-textarea rows="5" cols="50" placeholder="{{specific_info}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Eligible Borrowers</ion-label>  
      <ion-textarea rows="2" cols="50" placeholder="{{eligible_borrowers}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Eligible Crops</ion-label>  
      <ion-textarea rows="5" cols="50" placeholder="{{eligible_crops}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Maximum Loan Amount</ion-label>  
      <ion-textarea rows="2" cols="50" placeholder="{{maximum_loanamount}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Rate of Interest</ion-label>  
      <ion-textarea rows="4" cols="50" placeholder="{{Rateofinterest}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">Repayment Period</ion-label>  
      <ion-textarea rows="4" cols="50" placeholder="{{Repaymentperiod}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="success">More information</ion-label>  
      <ion-textarea rows="4" cols="50" placeholder="{{more_info}}"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating" color="primary">Participating Financial Institutions</ion-label>  
      <ion-textarea rows="5" cols="50"></ion-textarea>
    </ion-item> -->

    <ion-item>
      <ion-label position="stacked" color="success">Image for loan scheme</ion-label>  
      <ion-textarea rows="4" cols="50" placeholder="{{loan_logo}}"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating" color="primary">For Clarifications and Information</ion-label>  
      <ion-textarea rows="3" cols="50"></ion-textarea>
    </ion-item>  -->

    <ion-button size="small" class="ion-padding" color="success" (click)="updateLoan()">Submit</ion-button>

  </ion-list>

</ion-content>