<ion-header>
  <ion-toolbar>
    <ion-title>Approved Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <!--<ion-card>-->
    <ion-row>
      <ion-col>
        <!--<img class="logi-img" src="/assets/img/People's.jpg" alt="logo">-->
        <ion-button expand="block" size="large" (click)="checkApprovedAswenna()">Aswenna Loan Scheme</ion-button>
      </ion-col>
    </ion-row>
  <!--</ion-card>-->
  
  <br>

  <!--<ion-card>-->
    <ion-row>
      <ion-col>
        <ion-button expand="block" size="large" (click)="checkApprovedNCRCS()">NCRCS Loan Scheme</ion-button>
      </ion-col>
    </ion-row>
  <!--</ion-card>-->
  
</ion-content>