<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Loan Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <br>

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="4">Name</ion-col>
      <ion-col size="4">Date</ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row *ngFor='let item of items'>
      <ion-col size="4">{{item.nameini}}</ion-col>
      <ion-col size="4">{{item.date}}</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest($event)" id="{{item.app_id}}">View</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="4">Sirisena</ion-col>
      <ion-col size="4">14/10/2020</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest()">View</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">Saman</ion-col>
      <ion-col size="4">09/10/2020</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest()">View</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">senerath</ion-col>
      <ion-col size="4">01/10/2020</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest()">View</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">Jayaweera</ion-col>
      <ion-col size="4">01/10/2020</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest()">View</ion-button>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>


<!--<ion-content>
  <br>
  <br>
  <ion-card>
    <br>
    <ion-card>
      <ion-input type="text" placeholder="NIC NO"></ion-input>
    </ion-card>
    <ion-button expand="block" (click)="search()">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-button>
    <br>
    <br>

    <ion-label>Please enter farmer's NIC number to update payments details.</ion-label>
    <br>
  </ion-card>
</ion-content>-->
