ion-slide {
    height: 100vh;
    flex-direction: column;
}

ion-img {
    max-width: 50vh;
    max-height: 50vh;
    overflow: hidden;
}

.slide-one {
    //background :url('../../../assets/img/background/img1.png') 0 0/ 120% 100% no-repeat;
    color :#fff;
}

.slide-two {
    //background :url('../../../assets/img/loan.jpg') 0 0/ 100% 100% no-repeat;
    color :#fff;

}

.labelintro{
    margin-left:10px;
    margin-right:10px;
}

.labelintro span {
    font-size: 14px;
}

ion-content{
    //--background: var(--ion-color-primary);
    //--background :url('../../../assets/img/background/img1.png') 0 0/ 100% 100% no-repeat;
    --color :#fff;
}

#frontimg {
    //position:absolute;
    left:13%;
    top:33%;
    max-width: 80%;
}

#font {
    color: #152b1e;
    position:static;
}

#slide2img {
    left: 13%;
    top: 43%;
    max-width: 20%;
}

