<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="intro"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <br>
  <ion-card class="ion-padding">
    <ion-icon name="call"></ion-icon>
    <ion-item> 
      <!-- <ion-button (click)="call1()">+94719213455</ion-button> -->
      <ion-button size="default">+94719213455</ion-button>
    </ion-item>
    <ion-item>
      <!-- <ion-button (click)="call2()">+94766004932</ion-button> -->
      <ion-button size="default">+94766004932</ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-icon name="mail"></ion-icon>
    <ion-item>
      <!-- <ion-button size="default" (click)="mail1()">govinavoda@gmail.com</ion-button> -->
      <ion-label size="default">govinavoda@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-button size="default" (click)="mail2()">govinavoda@outlook.com</ion-button> -->
      <ion-label size="default">govinavoda@outlook.com</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
