<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Aswenna Loan Scheme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="4">Application ID</ion-col>
      <ion-col size="4">NIC</ion-col>
      <ion-col size="4">Approved Date</ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row *ngFor='let item of items'>
      <ion-col size="4">{{item.application_id}}</ion-col>
      <ion-col size="4">{{item.nic}}</ion-col>
      <ion-col size="4">{{item.date}}</ion-col>
      <ion-col size="4">
        <ion-button (click)="viewNewRequest($event)" id="{{item.application_id}}">View</ion-button>
      </ion-col>
    </ion-row>

    

  

  </ion-grid>
</ion-content>