<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>Approved Requests{{loan_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="4">Name</ion-col>
      <ion-col size="4">Date</ion-col>
    </ion-row>

    <ion-row *ngFor='let item of items'>
      <ion-col class="col" size="4.5">{{item.nameini}}</ion-col>
      <ion-col class="col" size="4.5">{{item.date}}</ion-col>
      <ion-col size="3">
        <ion-button color="success" (click)="viewApprovedRequest($event)" id="{{item.id}}">View</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>