<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="new-requests"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loan_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-grid>
    <ion-row class="bold">
      <ion-col size="4">Name</ion-col>
      <ion-col size="4">Date</ion-col>
    </ion-row>

    <br>
    <br>

    <ion-row *ngFor='let item of items'>
      <ion-col size="4">Sunil</ion-col>
      <ion-col size="4">29/10/2020</ion-col>
      <ion-col size="4">
        <ion-button color="success" (click)="viewApprovedRequest()">View</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>