<ion-header>
  <div class = "login-header">
    <img class="logi-img" src="/assets/img/People's.jpg" alt="logo">
</div>
</ion-header>

<ion-content>

  <br>
  <ion-button expand="block" size="large" color="dark" (click)="changeLoanDetails()">Loan Details</ion-button>
  <br>
  <br>
  <ion-button expand="full" size="large" color="dark" (click)="checkLoanRequests()">Loan Requests</ion-button>
  <br>
  <br>
  <ion-button expand="full" size="large" color="dark" (click)="viewPayments()">Payments</ion-button>
  
</ion-content>
