<ion-header>
  <div class = "login-header">
    <img class="logi-img" src="/assets/img/People's.jpg" alt="logo">
</div>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-row>
    <ion-col>
      <ion-button expand="block" size="large" color="dark" (click)="changeLoanDetails()">Loan Details</ion-button>
    </ion-col>
  </ion-row>
  
  <br>
  <br>

  <ion-row>
    <ion-col>
      <ion-button expand="block" size="large" color="dark" (click)="checkLoanRequests()">Loan Requests</ion-button>
    </ion-col>
  </ion-row>
  
  <br>
  <br>

  <ion-row>
    <ion-col>
      <ion-button expand="block" size="large" color="dark" (click)="viewPayments()">Payments</ion-button>
    </ion-col>
  </ion-row>
  
  
</ion-content>
