<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="payment-confirm"></ion-back-button>
    </ion-buttons>
    <ion-title>Rate customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <br>
  <br>

  <ion-card class="ion-padding">
      <ion-radio-group>
        <ion-row>
          <ion-col><ion-radio color="warning" name="star" value="1"></ion-radio></ion-col>
          <ion-col><ion-radio color="warning" value="2"> </ion-radio></ion-col>
          <ion-col><ion-radio color="warning" value="3"> </ion-radio></ion-col>
          <ion-col><ion-radio color="warning" value="4"> </ion-radio></ion-col>
          <ion-col><ion-radio color="warning" value="5"> </ion-radio></ion-col>
        </ion-row> 
      </ion-radio-group>

      <ion-button shape="round" color="success" (click)="submit()">Submit</ion-button> 
  
    <br>

    <!-- <div class="rating">
      <input type="radio" (click)=Onclick() name="star" color="warning" id="star1"><label for="star1"></label>
      <input type="radio" (click)=Onclick() name="star" color="warning" id="star2"><label for="star2"></label>
      <input type="radio" (click)=Onclick() name="star" id="star3"><label for="star3"></label>
      <input type="radio" (click)=Onclick() name="star" id="star4"><label for="star4"></label>
      <input type="radio" (click)=Onclick() name="star" width="4em" height="4em" id="star5"><label for="star5"></label>
    </div>

  <button shape="round" (click)="submit()">Submit</button> -->
  </ion-card>

</ion-content>
